@font-face {
    font-family: 'Scorchedearth';
    src: url('../fonts/Scorchedearth-4Ljp.otf');
}

@font-face {
    font-family: 'StencilArmy';
    src: url('../fonts/Stencil Army WW I.ttf');
}

@font-face {
    font-family: 'NeonMachine';
    src: url('../fonts/NeonMachine-n6Bg.ttf');
}


.background {
    background-color: #0a0a0a;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/sparta.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
    filter: brightness(.8);
    z-index: -1;
}

.scoreboard {
    width: 90%;
    min-width: 1200px;
    height: 96%;
    /* transform: skew(-15deg, 0deg); */
}

.red-list, .blue-list {
    text-align: center;
}

.sb-heading {
    padding: 0px;
    font-size: 8em;
    color: #ffffff;
    text-shadow: 0px 0px 30px #ffffff85;
    font-weight: lighter;
    font-family: Scorchedearth, sans-serif;
    letter-spacing: .1em;
}

.team-box {
    width: 28em;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3em;
    background: #00000040;
    /* box-shadow: 0px 6px 15px -5px black; */
}

.blue-list > .team-box {
    flex-direction: row-reverse;
}

.team-box .points {
    width: 3em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    /*border-radius: 3em;*/
    box-shadow: 0px 3px 10px -5px black;
    font-family: "NeonMachine", sans-serif;
    transform: scale(1.05) translateY(-2.5%);

}

.blue-list .points {
    background: #6889d7;
    background: radial-gradient(circle at 100px 100px, #6889d7, #3157af);
    color: white;
}

.red-list .points {
    background: #cd6166;
    background: radial-gradient(circle at 100px 100px, #cd6166, #7b1517);
    color: white;
}

.team-name {
    font-weight: lighter;
    font-size: 1.2em;
    color: white;
    letter-spacing: 1px;
    font-family: "NeonMachine", sans-serif;
}

.red-list .team-name {
    padding-right: 4em;
}

.blue-list .team-name {
    padding-left: 4em;
}

.team-box:nth-child(1) {
    font-size: 1.5em;
    width: 30em;
}

.team-box:nth-child(2) {
    font-size: 1.3em;
    width: 28.5em;
}

.team-box:nth-child(3) {
    font-size: 1.2em;
    width: 27em;
}

.team-box:nth-child(4) {
    font-size: 1.1em;
    width: 26em;
}

.red-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blue-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.red-list .team-box {
    /* background: #ff01002b; */
    flex-direction: row;
}

.blue-list .team-box {
    /* background: #009eff47; */
}

